/* .company {
    padding: 2%;
    text-indent: 1%;
} */

.links {
    text-align: center;
    padding: 3%;
}

.awesome {
    border-bottom: solid black;
    padding: 4%;
    text-align: center;
    font-size: 3em;
}

.awesomeness{
    text-align: center;
    padding: 2%;
    font-size: 2em;
}

img {
    padding: 3%;
    width: 100%;
    border: solid black;
}

.footer {
    text-align: center;
    font-size: 2.5em;
    padding: 1.5%;
}
