img {
    width: 10%;
    overflow: hidden;
    width: 100%;
    box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.4);
    border-radius: 25%;
}

body {
    background-color: white;
    position: relative;
}

/* Section 1 - Header */
h1 {
    color: black;
    font-size: 2.5em;
    padding: 3%;
}

.header {
    text-indent: 20%;
    border: solid black 2px;
    background: radial-gradient(white,lightgoldenrodyellow, lightskyblue);
}


/* Section 2 - Map */
.map {
    height: 50vh;
    text-align: center;
    border: solid black 2px;
    margin-top: 0.2%;
    background: radial-gradient(white,lightgoldenrodyellow, lightskyblue);
    box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.4);
}

.mapBack {
    box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.4);
    background: radial-gradient(white,lightblue, black);
}

.frame {
    margin: auto;
    background-color: white;
}


/* Info */
.bullets {
    height: 34vh;
    border: solid black 2px;
    margin-top: 0.3%;
    background-color: white;
}

.bullet {
    text-align: center;
    background: radial-gradient(white,lightgoldenrodyellow, lightskyblue);
}

.condition {
    position: absolute;
    width: 10%;
    top: 81%;
    left: 45%;
    /* background: radial-gradient(white,lightgoldenrodyellow, lightgreen); */
    border: dotted green 1px;
}